<ul id="effects">
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn vintage">vintage</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn lomo">lomo</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn clarity">clarity</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn sinCity">sin city</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn sunrise">sunrise</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn crossProcess">cross process</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn orangePeel">orange peel</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn love">love</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn grungy">grungy</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn jarques">jarques</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn pinhole">pinhole</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn oldBoot">old boot</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn glowingSun">glowing sun</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn hazyDays">hazy days</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn herMajesty">her majesty</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn nostalgia">nostalgia</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn hemingway">hemingway</button>
    </li>
    <li>
        <button type="button" class="btn btn-secondary btn-sm effect-btn concentrate">concentrate</button>
    </li>
</ul>