<ul id="filters">
    <li class="btn-group" role="group" aria-label="Basic example" id="brightness-filter">
        <button type="button" class="btn btn-secondary btn-sm filter-btn brightness(-)">-</button>
        <button type="button" class="btn btn-secondary btn-sm" disabled>brightness</button>
        <button type="button" class="btn btn-secondary btn-sm filter-btn brightness(+)">+</button>
    </li>
    <li class="btn-group" role="group" aria-label="Basic example" id="vibrance-filter">
        <button type="button" class="btn btn-secondary btn-sm filter-btn vibrance(-)">-</button>
        <button type="button" class="btn btn-secondary btn-sm" disabled>vibrance</button>
        <button type="button" class="btn btn-secondary btn-sm filter-btn vibrance(+)">+</button>
    </li>
    <li class="btn-group" role="group" aria-label="Basic example" id="contrast-filter">
        <button type="button" class="btn btn-secondary btn-sm filter-btn contrast(-)">-</button>
        <button type="button" class="btn btn-secondary btn-sm" disabled>contrast</button>
        <button type="button" class="btn btn-secondary btn-sm filter-btn contrast(+)">+</button>
    </li>
    <li class="btn-group" role="group" aria-label="Basic example" id="saturation-filter">
        <button type="button" class="btn btn-secondary btn-sm filter-btn saturation(-)">-</button>
        <button type="button" class="btn btn-secondary btn-sm" disabled>saturation</button>
        <button type="button" class="btn btn-secondary btn-sm filter-btn saturation(+)">+</button>
    </li>
    <li class="btn-group" role="group" aria-label="Basic example" id="exposure-filter">
        <button type="button" class="btn btn-secondary btn-sm filter-btn exposure(-)">-</button>
        <button type="button" class="btn btn-secondary btn-sm" disabled>exposure</button>
        <button type="button" class="btn btn-secondary btn-sm filter-btn exposure(+)">+</button>
    </li>
    <li class="btn-group" role="group" aria-label="Basic example" id="hue-filter">
        <button type="button" class="btn btn-secondary btn-sm filter-btn hue(-)">-</button>
        <button type="button" class="btn btn-secondary btn-sm" disabled>hue</button>
        <button type="button" class="btn btn-secondary btn-sm filter-btn hue(+)">+</button>
    </li>
    <li class="btn-group" role="group" aria-label="Basic example" id="sepia-filter">
        <button type="button" class="btn btn-secondary btn-sm filter-btn sepia(-)">-</button>
        <button type="button" class="btn btn-secondary btn-sm" disabled>sepia</button>
        <button type="button" class="btn btn-secondary btn-sm filter-btn sepia(+)">+</button>
    </li>
    <li class="btn-group" role="group" aria-label="Basic example" id="gamma-filter">
        <button type="button" class="btn btn-secondary btn-sm filter-btn gamma(-)">-</button>
        <button type="button" class="btn btn-secondary btn-sm" disabled>gamma</button>
        <button type="button" class="btn btn-secondary btn-sm filter-btn gamma(+)">+</button>
    </li>
    <li class="btn-group" role="group" aria-label="Basic example" id="clip-filter">
        <button type="button" class="btn btn-secondary btn-sm filter-btn clip(-)">-</button>
        <button type="button" class="btn btn-secondary btn-sm" disabled>clip</button>
        <button type="button" class="btn btn-secondary btn-sm filter-btn clip(+)">+</button>
    </li>
    <li class="btn-group" role="group" aria-label="Basic example" id="sharpen-filter">
        <button type="button" class="btn btn-secondary btn-sm filter-btn sharpen(-)">-</button>
        <button type="button" class="btn btn-secondary btn-sm" disabled>sharpen</button>
        <button type="button" class="btn btn-secondary btn-sm filter-btn sharpen(+)">+</button>
    </li>
    <li class="btn-group" role="group" aria-label="Basic example" id="stackBlur-filter">
        <button type="button" class="btn btn-secondary btn-sm filter-btn stackBlur(-)">-</button>
        <button type="button" class="btn btn-secondary btn-sm" disabled>stackBlur</button>
        <button type="button" class="btn btn-secondary btn-sm filter-btn stackBlur(+)">+</button>
    </li>
    
</ul>