</body>
<script src="js/listeners/nav_listen.js" type="module"></script>
<script src="js/listeners/gallery_listen.js" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js" integrity="sha512-JjFeUD2H//RHt+DjVf1BTuy1X5ZPtMl0svQ3RopX641DWoSilJ89LsFGq4Sw/6BSBfULqUW/CfnVopV5CfvRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/canvas.js" type="module"></script>
</html>